:root {
    --dgrey: #232323;
    --dviolet: #412160;
    --mviolet: #673e82;
    --lviolet: #896494;
    --mpink: #b693b6;
    --lpink: #bea7be;
    --wpink: #cebbd4;
}

* { margin: 0; padding: 0; }  
*, *::before, *::after { box-sizing: inherit; }

html { box-sizing: border-box; scroll-behavior: smooth; }
body { font-family: 'Antic Slab', serif; font-size: 1.2rem; color: var(--dgrey); } 

ul { list-style: none; }

a { text-decoration: none; color: var(--mviolet); }
a:hover { text-decoration: none; color: var(--lviolet); }



/* Headers */
h1 {
    max-width: 640px;
    color: var(--lpink);
    font-size: 3rem;
    font-weight: normal;
    font-family: 'Nerko One', cursive;
    text-shadow: 1px 1px 2px var(--dviolet);  
}

h2 {
    max-width: 640px;
    margin: 0 auto 1rem auto;
    color: var(--lpink);
    font-family: 'Indie Flower', cursive;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px var(--dviolet);
}

@media (max-width: 28.75em) { 
    h2 { font-size: 4rem; } 
}



/* Navigation Section */
.navigation {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--lviolet);
    background-image: radial-gradient(var(--lpink) 0%, var(--lviolet) 100%);
    box-shadow: 1px 1px 2px var(--dviolet);
    z-index: 10;
    font-family: 'Yeseva One', cursive;
    text-shadow: 1px 1px 2px var(--wpink);
}

.navigation-list { display: flex; }
.navigation-list a { display: block; font-size: 1.2rem; padding: 1rem; transition: ease-in-out 1s; }
.navigation-list a:hover { transition: ease-in-out 1s; }

@media (max-width: 28.75em) {
    .navigation {justify-content: center;} 
    .navigation-list {margin: 0 1rem;}
}


/* Home Section */
.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--medium-green);
    background-image: url(./images/header.jpg);
}
  
.welcome > p {
    font-size: 1.5rem;
    color: var(--wpink);
    text-shadow: 1px 1px 2px var(--dviolet);
}



/* About Section */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var(--lightest-green);
    background-image: radial-gradient(var(--white-green) 0%, var(--lightest-green) 100%);
    border-bottom: 3px dashed var(--aqua-green);
}

.myself-img {
    float: left;
    border-radius: 10px; 
    width: 300px; 
    padding: 1rem;
}



/* Projects section */
.projects {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--lightest-green);
    border-bottom: 1px solid var(--dviolet);
}  

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 0.5rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 2rem;
}
  
@media (max-width: 30.625em) {
    .projects {padding: 6rem 1rem;}
    .projects-grid {grid-template-columns: 1fr;}
}
  
.project {
    position: relative;
    width: 400px;
}

.project > img { display: block; width: 100%; border-radius: 10px; }

.description-overlay {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(61, 31, 84, 0.6);
	color: var(--wpink);
	font-family: 'Indie Flower', cursive;
    text-shadow: 1px 1px 2px var(--dviolet);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s;
    border-radius: 10px;
}

.description-overlay > * { transform: translateY(20px); transition: transform 0.25s; }

.description-overlay:hover { opacity: 1; }

.description-overlay:hover > * { transform: translateY(0); } 

.description-overlay > .project-title { font-size: 1.5rem; }



/* Contact Section */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var(--lightest-green);
    border-bottom: 1px solid var(--dviolet);
}

.contact > .credits { font-size: 0.8rem; font-style: italic; }
.icons { width: 2rem; }



/* Footer Section */
footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--lightest-green);
    background-image: radial-gradient(var(--white-green) 0%, var(--lightest-green) 100%);
}
  
footer > p {margin: 2rem;}
  
@media (max-width: 28.75em) {
    footer {flex-direction: column; text-align: center;}
}