@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&family=Macondo&family=Marcellus&family=Rubik+Wet+Paint&display=swap');
/* Imported Google Fonts ->
  font-family: 'Caveat', cursive;
  font-family: 'Indie Flower', cursive;
  font-family: 'Macondo', cursive;
  font-family: 'Marcellus', serif;
  font-family: 'Rubik Wet Paint', cursive; 
*/

html, body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: 'Macondo', cursive;
  line-height: 1.5;
  font-size: 1rem;
}

/* Navigation a.k.a. Content */
#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: dashed #858485;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
}

#navbar li {
  color: #4d4e53;
  border-top: 1px dashed #858485;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
}

a.nav-link::before, a.nav-link::after {
  content: " ⚔ ";
}


/* Page Building */
#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

#main-doc header {
  text-align: center;
  margin: 0px;
}

p.desc {
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
}

header {
  color: #272727;
  margin: 10px;
  text-align: center;
  font-family: 'Rubik Wet Paint', cursive;
  font-size: 1.8em;
  font-weight: normal;
}

section article { margin: 15px; }

section { border-top: 1px solid #858485; }

h2 {
  color: #4f4f4f;
  text-align: left;
  font-size: 2rem;
  font-family: 'Caveat', cursive;
  font-weight: normal;
  text-transform: uppercase;
}


/* My Quotes Design */
p.quote::before {
  content: "“";
}
p.quote::after {
  content: "”";
}

span.quote {
  display: block;
}

span.quote::before {
  content: "“";
}
span.quote::after {
  content: "”";
}

span.location::before {
  content: "— ";
  font-weight: normal;
}

span.location {
  display: block;
  font-weight: bold;
}


/* @Media Code Changes */
@media only screen and (max-width: 815px) {
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }
}